@model Northwind.MVCWebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Northwind";
}
<h1>Products</h1>

<div style="background-color:darkgray">
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <table class="table table-striped">

            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                            <br />
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.Hidden("productID",item.ProductID)
                            <input type="submit" value="Add To Cart"/>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    }
    

</div>
<div class="pager">

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                @Html.Pager(Model.PagingInfo)
            </li>
        </ul>
    </nav>

</div>





